In [1]:
idade1= 20

In [2]:
idade2= 35

In [5]:
idade1 + idade2

70

In [6]:
somaIdades= idade1 + idade2

In [7]:
subtrairIdades= idade1 - idade2

In [8]:
multiplicarIdades= idade1 * idade2

In [9]:
dividirIdades= idade1 / idade2

In [10]:
idade1 + 10

45

In [11]:
idade1 - 15

20

In [12]:
idade1 * 4

140

In [13]:
idade1 / 5

7.0

In [14]:
2 *(idade1 + idade2)

140

In [15]:
2 * idade1 + 3 * idade2 / 4

96.25

In [16]:
(2 * idade1 + 3 * idade2) / 4

43.75

In [17]:
idade1**2

1225

In [18]:
15**2

225

In [19]:
idade2//idade1

1

In [20]:
idade2/idade1

1.0

In [21]:
idade2 % idade1

0

In [23]:
nome= "Camila"

In [24]:
sobrenome= "Dantas"

In [25]:
print(nome + sobrenome)

CamilaDantas

In [26]:
print(nome + " " + sobrenome)

Camila Dantas

In [50]:
print('Olá, ', nome, 'você tem ', idade1 + 15, 'anos.')

Olá,  Aline você tem  50 anos.

In [53]:
print('Olá,', nome, '\n', 'você tem', idade1 + 15, 'anos.')

Olá, Aline
 você tem 50 anos.

In [41]:
input("Digite o seu nome:")

''

In [42]:
nome= input("Digite o seu nome:")

In [54]:
nome= str(input('Digite o seu nome:'))